@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Özel animasyonlar */
.hover-scale {
  transition: transform 0.3s;
}
.hover-scale:hover {
  transform: scale(1.05);
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
  }

  /* Özel Amber Renk Tanımları */
:root {
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
}

/* Arkaplan Renkleri */
.bg-amber-50 { background-color: var(--amber-50); }
.bg-amber-100 { background-color: var(--amber-100); }
.bg-amber-200 { background-color: var(--amber-200); }
.bg-amber-300 { background-color: var(--amber-300); }
.bg-amber-400 { background-color: var(--amber-400); }
.bg-amber-500 { background-color: var(--amber-500); }
.bg-amber-600 { background-color: var(--amber-600); }
.bg-amber-700 { background-color: var(--amber-700); }

/* Metin Renkleri */
.text-amber-50 { color: var(--amber-50); }
.text-amber-100 { color: var(--amber-100); }
.text-amber-200 { color: var(--amber-200); }
.text-amber-300 { color: var(--amber-300); }
.text-amber-400 { color: var(--amber-400); }
.text-amber-500 { color: var(--amber-500); }
.text-amber-600 { color: var(--amber-600); }
.text-amber-700 { color: var(--amber-700); }

/* Border Renkleri */
.border-amber-50 { border-color: var(--amber-50); }
.border-amber-100 { border-color: var(--amber-100); }
.border-amber-200 { border-color: var(--amber-200); }
.border-amber-300 { border-color: var(--amber-300); }
.border-amber-400 { border-color: var(--amber-400); }
.border-amber-500 { border-color: var(--amber-500); }
.border-amber-600 { border-color: var(--amber-600); }
.border-amber-700 { border-color: var(--amber-700); }



.swiper-button-prev:after {
  content: 'Önceki';
  color: var(--amber-400);
}

.swiper-button-next:after {
  content: 'Sonraki';
  color: var(--amber-400);
}


.swiper-pagination-bullet-active {
  background-color: var(--amber-400) !important;
}










